.top {
    background-color: black;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top__left {
    width: 15px;
    cursor: pointer;
}

.top__text {
    margin: 0;
    padding: 0 20px;
    color: white;
}

.top__rigth {
    width: 15px;
    cursor: pointer;
}

.head{
    display: flex;
}

.head__logo{
    width: 50%; 
}

.head__logo img{
    width: 165px;
    padding: 10px 0 0 20px;
    cursor: pointer;
}

.head__list{
    margin: 0;
    width: 50%;
    padding: 0; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    font-size: 23px;
}

.head__list__cart {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: flex-end;
    padding: 0px 45px 0 0;
}

.head__list__ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    padding: 0px 45px 0 0;
}

.btn {
    color: black;
    cursor: pointer; 
}

.btn:hover {
    border-bottom: 2px solid black;
}



.cartIcon a{
    text-decoration: none;
    color: black;
}
.head__list__ul__img:hover {
    border-bottom: 2px solid black;
}

.head__list__ul__img{
    width: 40px;
    cursor: pointer;
}

.sponsors__sec img{
    width: 100%;
}

.shop__word {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop__word h1 {
    margin: 0px;
}

.productShop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.productShop h3 {
    margin: 0;
}

.products__one {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin: 20px;
}

.products__one img {
    width: 100%;
}

.products__two {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin: 20px;
}

.products__two img {
    width: 100%;
}

.products__three {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin: 20px;
}

.products__three img {
    width: 100%;
}

.add-cart {
    position: absolute;
    width: 25%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    height: 4%;
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.products__one:hover .add-cart,
.products__two:hover .add-cart,
.products__three:hover .add-cart{
    opacity: 1;
    text-decoration: none;
    border: 0;
    border-radius: 10px;
    font-size: 17px;
}

.hidden {
    display: none;
}

.description video {
    width: 100%;
}

.text h1 {
    position: absolute;
    color: white;
    font-size: 50px;
    padding-left: 44px;
}

.text ul {
    list-style: none;
    position: absolute;
    color: white;
    font-size: 26px;
    margin-top: 10%;
    margin-left: 1%;
}

.club {
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.club__section {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    border-radius: 24px;
    box-shadow: rgb(0 0 0 / 10%) 1px 11px 2px 1px;
    
}

.club__section__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 40%;
       
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
 .form__list__field input {
    border-radius: 7px;
    width: 90%;
    margin-bottom: 16px;
 }

 .form__list button {
    border-radius: 14px;
    width: 100px;
    height: 35px;
    border-style: unset;
    background-color: black;
    color: white;
 }

.club__section__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.club__section__photo img {
    width: 100%;
    border-radius: 12px;
}

.bar {
    height: 100px;
    width: 100%;
    background-color: black;

}

.footer__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

.footer__logos a{
    margin: 5px;
}

.footer__payment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}


/*------------------------CART PAGE----------------*/


.container-products {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.container-products ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}